@using Codesanook.EventManagement.ViewModels
@{
    var confirmedBooking = Model.ConfirmedBooking as ConfirmedBookingViewModel;
}

<p>
    Dear @confirmedBooking.UserProfile.FirstName @confirmedBooking.UserProfile.LastName
</p>

<p>
    Thanks for booking an event with us.
</p>
<p>
    Only one step to finish a booking.
    Please transfer money with payment information in this email
    and upload a payment slip in manage booking page.
</p>

<h4>
    Your event information
</h4>
<ul>
    <li>Event name: @confirmedBooking.Event.Title</li>
    <li>Start:  @confirmedBooking.Event.StartDateTimeUtc.ToString()</li>
    <li>Finish:  @confirmedBooking.Event.FinishDateTimeUtc.ToString()</li>
    <li>Location:  @confirmedBooking.Event.Location</li>
</ul>

<h4>Payment information:</h4>
<p>
    @foreach (var account in confirmedBooking.BankAccounts)
    {
        @Display(New.BankAccount(BankAccount: account))
    }
</p>

<p>
    Thanks,
</p>

<p>
    @confirmedBooking.SiteName
</p>

