
@using Codesanook.EventManagement.ViewModels
@{
    var eventBookingEmail = Model.EventBookingEmail as EventBookingEmailViewModel;
}
<p>
    Dear @eventBookingEmail.UserProfile.FirstName @eventBookingEmail.UserProfile.LastName
</p>

<p>
    Thanks for booking an event with us.
</p>
<p>
    We would like to inform you that you payment is successfully and your booking is completed.
</p>

<h4>
    Your event information
</h4>
<ul>
    <li>Event name: @eventBookingEmail.Event.Title</li>
    <li>Start:  @eventBookingEmail.Event.StartDateTimeUtc.ToString()</li>
    <li>Finish:  @eventBookingEmail.Event.FinishDateTimeUtc.ToString()</li>
    <li>Location:  @eventBookingEmail.Event.Location</li>
</ul>

<p>
    Thanks,
</p>

<p>
    @eventBookingEmail.SiteName
</p>

