
@using Codesanook.EventManagement.ViewModels
@{
    var confirmedBooking = Model.ConfirmedBooking as ConfirmedBookingViewModel;
}


<p>
    Dear @confirmedBooking.UserProfile.FirstName @confirmedBooking.UserProfile.LastName
</p>

<p>
    Thanks for your payment.
</p>
<p>
    We will inform you immediately after we have verified the correctness of your payment.
</p>

<h4>
    Your event information
</h4>
<ul>
    <li>Event name: @confirmedBooking.Event.Title</li>
    <li>Start:  @confirmedBooking.Event.StartDateTimeUtc.ToString()</li>
    <li>Finish:  @confirmedBooking.Event.FinishDateTimeUtc.ToString()</li>
    <li>Location:  @confirmedBooking.Event.Location</li>
</ul>


<p>
    Thanks,
</p>

<p>
    @confirmedBooking.SiteName
</p>

