@using Codesanook.EventManagement.ViewModels
@using Codesanook.EventManagement.Controllers
@model EventBookingRegisterViewModel
@{
    string GetDateComponents(DateTime beginDate, DateTime endDate)
    {
        const string dateFormat = "d MMM yyyy";
        // 1 May 2020
        if (beginDate.Date == endDate.Date)
        {
            return beginDate.ToString(dateFormat);
        }

        // 1 - 10 May 2020
        if ((beginDate.Month == endDate.Month) && (beginDate.Year == endDate.Year))
        {
            return beginDate.Day.ToString() + " - " + endDate.ToString(dateFormat);
        }

        // 1 May - 10 June 2020
        if (beginDate.Year == endDate.Year)
        {
            return beginDate.ToString("d MMM") + " - " + endDate.ToString(dateFormat);
        }

        // 1 May 2020 - 1 May 2021
        return beginDate.ToString(dateFormat) + " - " + endDate.ToString(dateFormat);
    }
}
<h1 class="text-center">@Html.TitleForPage(T("Register an event").ToString())</h1>
<div class="row">
    <div class="col-12 offset-md-3 col-md-6">
        <h4>Event: @Model.Event.Title</h4>
        <p>
            @if (Model.Event.BeginDateTimeUtc.HasValue && Model.Event.EndDateTimeUtc.HasValue)
            {
                <i class="fa fa-calendar" aria-hidden="true"></i>
                @GetDateComponents(Model.Event.BeginDateTimeUtc.Value, Model.Event.EndDateTimeUtc.Value)
            }
        </p>
        <p>
            <i class="fa fa-clock-o" aria-hidden="true"></i>
            <span>@(Model.Event.BeginDateTimeUtc.HasValue ? Model.Event.BeginDateTimeUtc.Value.ToString("HH:mm") : "")</span>
            <span>-</span>
            <span>@(Model.Event.EndDateTimeUtc.HasValue ? Model.Event.EndDateTimeUtc.Value.ToString("HH:mm") : "")</span>
            <span>(GMT+7)</span>
        </p>
        <p><i class="fa fa-map-pin main-color mr-2"></i> @Model.Event.Location</p>
        <h6 class="mt-4">
            <strong>Please fill your information.</strong>
        </h6>

        @using (Html.BeginFormAntiForgeryPost(
            Url.Action(
                nameof(EventBookingController.Register),
                new { id = Model.Event.Id }
            )
        ))
        {
            @Html.Partial("_AttendeeFields", Model.EventAttendees)
            <input id="contact-form-submit" class="form-submit-btn" type="submit" value="SUBMIT">
        }
    </div>
</div>
