@using Codesanook.EventManagement.ViewModels
@using Codesanook.EventManagement.Controllers
@model EventBookingViewModel
<h1 class="text-center">@Html.TitleForPage(T("Review an event's registeration").ToString())</h1>
<div class="row">
    <div class="col-12 offset-md-3 col-md-6">
        <h4>Event: @Model.Event.Title</h4>
        <p>
            <i class="fa fa-calendar" aria-hidden="true"></i>
            @Model.Event.GetFormattedSchedule()
        </p>
        <p>
            <i class="fa fa-clock-o" aria-hidden="true"></i>
            <span>@(Model.Event.StartDateTimeUtc.HasValue ? Model.Event.StartDateTimeUtc.Value.ToString("HH:mm") : "")</span>
            <span>-</span>
            <span>@(Model.Event.FinishDateTimeUtc.HasValue ? Model.Event.FinishDateTimeUtc.Value.ToString("HH:mm") : "")</span>
            <span>(GMT+7)</span>
        </p>
        <p><i class="fa fa-map-pin main-color mr-2"></i> @Model.Event.Location</p>
        <h6 class="mt-4">
            <strong>Please revise your information.</strong>
        </h6>
        @if (Model != null)
        {
            foreach (var attendee in Model.EventAttendees)
            {
                <div class="row mt-3">
                    <div class="col-3">First Name:</div>
                    <div class="col-9">@attendee.FirstName</div>
                </div>
                <div class="row mt-3">
                    <div class="col-3">Last Name:</div>
                    <div class="col-9">@attendee.LastName</div>
                </div>
                <div class="row mt-3">
                    <div class="col-3">Email:</div>
                    <div class="col-9">@attendee.Email</div>
                </div>
                <div class="row mt-3">
                    <div class="col-3">Mobile phone number:</div>
                    <div class="col-9">@attendee.MobilePhoneNumber</div>
                </div>
                <div class="row mt-3">
                    <div class="col-3">Organization:</div>
                    <div class="col-9">@attendee.OrganizationName</div>
                </div>
                <hr />
            }
        }
        <div class="row mt-4 pb-4">
            @{
                var registerEventUrl = Url.Action(
                    nameof(EventBookingController.Register), new { eventBookingId = Model.Id, eventId = Model.Event.Id }
                );
            }
            <div class="col">
                <a class="btn btn-secondary" href="@registerEventUrl">
                    <i class="fa fa-arrow-left"></i> Back to edit
                </a>
            </div>
            <div class="col text-right">
                @using (Html.BeginFormAntiForgeryPost(
                    Url.Action(
                        nameof(EventBookingController.RegisterConfirm),
                        new { eventBookingId = Model.Id }
                    )
                ))
                {
                    <button class="btn btn-secondary" type="submit">
                        Confirm
                    </button>
                }
            </div>
        </div>
    </div>
</div>
