@using Orchard.Mvc.Extensions
@{
    var beginDateTimeUtc = Model.BeginDateTimeUtc as DateTime?;
    var endDateTimeUtc = Model.EndDateTimeUtc as DateTime?;
}
<div class="date-box">
    <p>
        <i class="fa fa-calendar" aria-hidden="true"></i>
        @if (beginDateTimeUtc.Value.ToString("dd MMM yyyy") .Equals(endDateTimeUtc.Value.ToString("dd MMM yyyy")))
        {
            <span>@beginDateTimeUtc.Value.ToString("dd MMM yyyy")</span>
        }
        else
        {
            <span>@beginDateTimeUtc.Value.Day</span>
            <span>-</span>
            <span>@endDateTimeUtc.Value.ToString("dd MMM yyyy")</span>
        }
    </p>
    <p>
        <i class="fa fa-clock-o" aria-hidden="true"></i>
        <span>@beginDateTimeUtc.Value.ToString("HH:mm")</span>
        <span>-</span>
        <span>@endDateTimeUtc.Value.ToString("HH:mm")</span>
        <span>(GMT+7)</span>
    </p>
    <p>
        <i class="fa fa-map-marker" aria-hidden="true"></i>
        <span>IMPACT Exhibition and Con...</span>
    </p>
</div>
