@using Codesanook.EventManagement.ViewModels;
@model EventViewModel
@{
    Style.Require("Bootstrap");
}

<fieldset>
    <legend>Date and time</legend>
    <div class="clearfix">
        <div class="float-left">
            <label for="@Html.FieldIdFor(m => Model.BeginDateEditor.Date)">@T("Begin date")</label>
            @Html.EditorFor(m => m.BeginDateEditor)
            <span class="hint">@T("Enter begin date of an event")</span>
        </div>
        <div class="float-left ml-4">
            <label for="@Html.FieldIdFor(m => Model.EndDateEditor.Date)">@T("End date")</label>
            @Html.EditorFor(m => m.EndDateEditor)
            <span class="hint">@T("Enter end date of an event")</span>
        </div>
    </div>

    <div class="clearfix">
        <div class="float-left">
            <label for="@Html.FieldIdFor(m => Model.BeginTimeEditor.Time)">@T("Begin time")</label>
            @Html.EditorFor(m => m.BeginTimeEditor)
            <span class="hint">@T("Enter begin time of an event")</span>
        </div>

        <div class="float-left ml-4">
            <label for="@Html.FieldIdFor(m => Model.EndTimeEditor.Time)">@T("End time")</label>
            @Html.EditorFor(m => m.EndTimeEditor)
            <span class="hint">@T("Enter end time of an event")</span>
        </div>
    </div>
</fieldset>

<fieldset>
    <label for="@Html.FieldIdFor(m => Model.Location)">@T("Location")</label>
    @Html.TextAreaFor(m => m.Location)
    @Html.ValidationMessageFor(m => m.Location)
    <label for="@Html.FieldIdFor(m => Model.MaxAttendees)">@T("Max attendees")</label>
    @Html.TextBoxFor(m => m.MaxAttendees)
    @Html.ValidationMessageFor(m => m.MaxAttendees)
    <label for="@Html.FieldIdFor(m => Model.TicketPrice)">@T("Ticket price")</label>
    @Html.TextBoxFor(m => m.TicketPrice)
    @Html.ValidationMessageFor(m => m.TicketPrice)
</fieldset>
